<!DOCTYPE html>
<!-- helps browsers with file recognition- just chuck one up here at the start, not super importamnt-->
<html>
<!-- open html tag-->

<head>
    <!-- browser reads this stuff first, so here we import js files, put the title etc.-->
 <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/myjavascript.js"></script>
    <script type="text/javascript" src="/js/Libraries/p5.js"></script>
    <!-- script type tells what type of text is in the subfile, src is source: name of the source file-->
    
    <title>Title of the document</title>
</head>

<body>
    <script>
        var socket = io();
        socket.on('send_position', function(data){
            pseudo_x = data.x
            
    console.log('received ' + data.x )
})
    </script>    
</body>



</html> <!-- close html tag-->

